#application{
    text-align: center;
}
@media(min-width:300px) and (max-width:900px){
    #application{
        width:100%;
    }
}

#head{
    background-color: green;
    color:white;
}
@media(min-width:300px) and (max-width:900px){
    #head{
        width:100%;
    }
}

#chat-container{
    width: 100%;
    min-height: 520px;
    background-image: url("./background-image.jpg");
    overflow: hidden;
    
}
@media(min-width:300px) and (max-width:900px){
    #chat-container{
        width: 100%;
        min-height: 520px;
        background-image: url("./background-image.jpg");
        overflow: hidden;
    }
}
#message{
    margin: 10px;
    width: 700px;
    height: 20px;
    border:1px solid black;
}
@media(min-width:300px) and (max-width:900px){
    #message{
        
        width: 80%;
        height: 20px;
        border:1px solid black;
        position: absolute;
        left:-3px;
    }
}

button{
    background-color: green;
    border:none;
    color:white;
    height:30px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
@media(min-width:300px) and (max-width:900px){
    button{
        background-color: green;
        border:none;
        color:white;
        height:30px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        right:5px;
        top:607px;
    }
}
.right{
    float: left;
    clear: both;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    color:black;
    
}
@media(min-width:300px) and (max-width:800px){
    
}
.left{
    border: none; 
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    float: right;
    clear: both;
    background-color: green;
    color:white; 
    
}
@media(min-width:300px) and (max-width:800px){
    
}
.center{
    width: 300px;
    margin: 10px;
    padding: 5px;
    float: left;
    clear: both;
    text-align: center;
    background-color: rgb(27, 26, 26);
    border-radius: 10PX;
    color:white;

}
@media(min-width:300px) and (max-width:800px){
    
}